@font-face{
    font-family:'poppins-500', sans-serif;
    src:url(../fonts/Poppins-Medium.ttf);
}
@font-face{
    font-family:'poppins-700', sans-serif;
    src:url(../fonts/Poppins-Bold.ttf);
}
@font-face{
    font-family:'poppins-400', sans-serif;
    src:url(../fonts/Poppins-Regular.ttf);
}
@font-face{
    font-family:'open-sans-400', sans-serif;
    src:url(../fonts/OpenSans-Medium.ttf);
}
@font-face{
    font-family:'open-sans-600', sans-serif;
    src:url(../fonts/OpenSans-SemiBold.ttf);
}